@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --font-heading: "Cinzel Decorative", cursive;
  --font-body: "Outfit", sans-serif;
  --font-stylish: "Rouge Script", cursive;
}

main {
  @apply w-full min-h-screen overflow-x-hidden overflow-y-auto relative
}

section {
  @apply w-full h-screen overflow-hidden relative
}
html, body {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}


@layer {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-yellow-500 to-yellow-600
  }
  .text-gradient-silver {
    @apply bg-clip-text text-transparent bg-linear-to-r from-gray-50 to-gray-200
  }
  .text-gradient-gold {
    @apply bg-clip-text text-transparent bg-linear-to-b from-yellow-400 to-yellow-500
  }
  .center {
    @apply flex justify-center items-center
  }
  .hero-button {
    @apply uppercase font-body text-xs rounded-lg border-yellow-500 tracking-widest font-medium border text-white px-8 py-3 cursor-pointer transition-all duration-400 
  }
  .hero-button-mb {
    @apply uppercase font-body text-[10px] rounded-lg border-yellow-500 tracking-widest font-medium border text-white px-4 py-2 cursor-pointer transition-all duration-400 
  }
  .maindiv {
    @apply w-1/4 h-full flex items-center justify-center flex-col gap-3 px-1 border-r-2  border-white/20 pr-2
  }
  .condiv {
    @apply text-white font-body text-center;
  }
  .heading {
    @apply text-[2.5vw] uppercase;
  }
  .disc {
    @apply text-white/80 text-[2vw] mt-1 font-light tracking-wide
  }

  .arrow-animate {
    animation: arrow-loop 1.4s linear infinite;
  }
  .nav-links {
    @apply font-body tracking-widest text-sm font-medium pb-1
  }
}

@keyframes arrow-loop {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: translateY(120%);
    opacity: 0;
  }
}